/* ==== Scroll down to find where to put your styles :) ==== */
/*  HTML5 ✰ Boilerplate  */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
html {
  overflow-y: scroll;
}
a:hover,
a:active {
  outline: none;
}
ul,
ol {
  margin-left: 2em;
}
ol {
  list-style-type: decimal;
}
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
textarea {
  overflow: auto;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body,
select,
input,
textarea {
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
a,
a:active,
a:visited {
  color: #607890;
}
a:hover {
  color: #036;
}
/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/
/* Macros and Variables */
.icon-back {
  display: block;
  width: 119px;
  height: 119px;
  background-image: url('/images/thangz.png');
  background-position: -1px -1px;
  text-indent: -9999px;
}
.icon-back:hover,
.icon-backactive {
  background-position: -121px -1px;
}
.icon-back-hover {
  display: block;
  width: 119px;
  height: 120px;
  background-image: url('/images/thangz.png');
  background-position: -121px -1px;
  text-indent: -9999px;
}
.icon-home {
  display: block;
  width: 119px;
  height: 120px;
  background-image: url('/images/thangz.png');
  background-position: -241px -1px;
  text-indent: -9999px;
}
.icon-right {
  display: block;
  width: 119px;
  height: 120px;
  background-image: url('/images/thangz.png');
  background-position: -361px -1px;
  text-indent: -9999px;
}
.icon-stop {
  display: block;
  width: 119px;
  height: 120px;
  background-image: url('/images/thangz.png');
  background-position: -481px -1px;
  text-indent: -9999px;
}
.icon-cart {
  display: block;
  width: 49px;
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: -601px -1px;
  text-indent: -9999px;
}
.icon-cart:hover {
  background-position: -601px -52px;
}
.icon-cart:active {
  background-position: -601px -103px;
}
.cart-message-left-off {
  display: block;
  width: 15px;
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: -651px -1px;
  text-indent: -9999px;
}
.cart-message-left-on {
  display: block;
  width: 15px;
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: -651px -52px;
  text-indent: -9999px;
}
.cart-message-middle-off {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: 0 -149px;
  background-repeat: repeat-y;
}
.cart-message-middle-on {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: 0 -200px;
  background-repeat: repeat-y;
}
.cart-message-right-off {
  display: block;
  width: 25px;
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: -663px -1px;
  text-indent: -9999px;
}
.cart-message-right-on {
  display: block;
  width: 25px;
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: -663px -52px;
  text-indent: -9999px;
}
.button-left-off {
  display: block;
  width: 10px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -689px -1px;
  text-indent: -9999px;
}
.button-left-on {
  display: block;
  width: 10px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -689px -42px;
  text-indent: -9999px;
}
.button-middle-off {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: 0 -251px;
  background-repeat: repeat-x;
}
.button-middle-on {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: 0 -292px;
  background-repeat: repeat-x;
}
.button-right-off {
  display: block;
  width: 10px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -718px -1px;
  text-indent: -9999px;
}
.button-right-on {
  display: block;
  width: 10px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -718px -42px;
  text-indent: -9999px;
}
.icon-shirt-off {
  display: block;
  width: 39px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -729px -1px;
  text-indent: -9999px;
}
.icon-shirt-on {
  display: block;
  width: 39px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -729px -42px;
  text-indent: -9999px;
}
.icon-eye {
  display: block;
  width: 39px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -769px -1px;
  text-indent: -9999px;
}
.icon-trash {
  display: block;
  width: 39px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -809px -1px;
  text-indent: -9999px;
}
.icon-x-off {
  display: block;
  width: 39px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -849px -1px;
  text-indent: -9999px;
}
.icon-x-on {
  display: block;
  width: 39px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -849px -42px;
  text-indent: -9999px;
}
.icon-box-left {
  display: block;
  width: 5px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -889px -1px;
  text-indent: -9999px;
}
.box-middle {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: 0 -374px;
  background-repeat: repeat-x;
}
.icon-box-right {
  display: block;
  width: 5px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -923px -1px;
  text-indent: -9999px;
}
.icon-endcap {
  display: block;
  width: 5px;
  height: 40px;
  background-image: url('/images/thangz.png');
  background-position: -929px -1px;
  text-indent: -9999px;
}
.rule-nav-bottom {
  display: block;
  height: 4px;
  width: 100%;
  background-image: url('/images/thangz.png');
  background-position: 0 -128px;
  background-repeat: repeat-x;
}
.rule-header-bottom {
  display: block;
  height: 2px;
  width: 100%;
  background-image: url('/images/thangz.png');
  background-position: 0 -122px;
  background-repeat: repeat-x;
}
.rule-cart-bottom {
  display: block;
  height: 5px;
  width: 100%;
  background-image: url('/images/thangz.png');
  background-position: 0 -133px;
  background-repeat: repeat-x;
}
.rule-dotted {
  display: block;
  height: 2px;
  width: 100%;
  background-image: url('/images/thangz.png');
  background-position: 0 -139px;
  background-repeat: repeat-x;
}
.rule-footer-top {
  display: block;
  height: 6px;
  width: 100%;
  background-image: url('/images/thangz.png');
  background-position: 0 -142px;
  background-repeat: repeat-x;
}
/* styles */
::-moz-selection {
  background-color: #352879;
}
::-webkit-selection {
  background-color: #352879;
}
::selection {
  background-color: #352879;
}
p {
  margin-bottom: 40px;
}
a {
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
  transition: color .20s linear;
}
a:link,
a:visited {
  color: #6c5eb5;
  text-decoration: none;
}
a:hover,
a:active {
  color: #beb1ff;
}
a:link {
  -webkit-tap-highlight-color: #352879;
}
h1 {
  font-weight: bold;
  color: #ffffff;
}
h2 {
  font-weight: normal;
  color: #7f7f7f;
}
b {
  font-weight: bold;
}
em {
  font-style: italic;
}
.bright {
  color: #ffffff;
}
.dark {
  color: #7f7f7f;
}
.purp {
  color: #352879;
}
.wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  width: 808px;
  margin: 0 auto;
  position: relative;
}
body {
  height: 100%;
  font-family: TeXGyreAdventor, Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0px 2px 0px #000;
  background-color: #111;
}
body > nav,
body > header,
body > section,
body > footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  width: 100%;
  min-width: 808px;
}
header,
section,
footer {
  font-size: 1em;
  line-height: 1.2em;
}
body > header {
  position: relative;
  background-color: #6c5eb5;
  padding: 19px 0;
  font-size: 0.75em;
  line-height: 50px;
  overflow: hidden;
}
body > header nav {
  float: left;
}
body > header li {
  display: inline-block;
  min-height: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 1em;
}
body > header li a:not(.contact-us) {
  padding-right: 80px;
}
body > header li a:link,
body > header li a:visited {
  color: #ffffff;
}
body > header li a:hover,
body > header li a:active {
  color: black;
  background-color: #ffffff;
  text-shadow: none;
}
body > header #cart {
  float: right;
}
body > header #cart #cart-message {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: 0 -149px;
  background-repeat: repeat-y;
  display: inline-block;
  position: relative;
  margin-right: 30px;
  color: #7f7f7f;
}
body > header #cart #cart-message .count {
  color: white;
}
body > header #cart #cart-message:before {
  content: '';
  display: block;
  width: 15px;
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: -651px -1px;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
}
body > header #cart #cart-message:after {
  content: '';
  display: block;
  width: 25px;
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: -663px -1px;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
}
body > header #cart .cart-icon {
  display: block;
  width: 49px;
  height: 50px;
  background-image: url('/images/thangz.png');
  background-position: -601px -1px;
  text-indent: -9999px;
  display: inline-block;
}
body > header #cart .cart-icon:hover {
  background-position: -601px -52px;
}
body > header #cart .cart-icon:active {
  background-position: -601px -103px;
}
body > header:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-image: url('/images/thangz.png');
  background-position: 0 -128px;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0px;
}
#content > header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/js/box-sizing/boxsizing.htc');
  margin-top: 20px;
}
#content > header .home {
  display: block;
  width: 119px;
  height: 120px;
  background-image: url('/images/thangz.png');
  background-position: -241px -1px;
  text-indent: -9999px;
  float: left;
  margin-right: 20px;
}
#content > header .wrapper:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-image: url('/images/thangz.png');
  background-position: 0 -122px;
  background-repeat: repeat-x;
  margin: 20px 0;
}
footer {
  padding: 0 0 40px 0;
  color: #7f7f7f;
  font-size: 0.75em;
  text-align: center;
  background-color: #000;
}
footer .wrapper {
  margin-top: 52px;
}
footer:before {
  content: "";
  display: block;
  height: 6px;
  width: 100%;
  background-image: url('/images/thangz.png');
  background-position: 0 -142px;
  background-repeat: repeat-x;
}
#content {
  margin-bottom: 60px;
}
#content > .main a.product {
  display: inline-block;
  min-height: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 1em;
  position: relative;
  width: 399px;
  margin-bottom: 20px;
  overflow: hidden;
}
#content > .main a.product figure {
  width: 399px;
}
#content > .main a.product:nth-child(2n+1) {
  margin-right: 10px;
}
#content > .main a.product figcaption {
  overflow: hidden;
}
#content > .main a.product .sku,
#content > .main a.product .name,
#content > .main a.product .price {
  display: block;
}
#content > .main a.product .name {
  color: #7f7f7f;
}
#content > .main a.product .price {
  color: white;
}
#content > .main a.product .arrow {
  display: block;
  width: 399px;
  height: 266px;
  position: absolute;
  top: 0;
  left: -399px;
  background-image: url('/images/item_overlay.png');
  background-repeat: no-repeat;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
#content > .main a.product:hover .arrow {
  left: 0;
}
@media screen and (max-width: 580px) {
  body {
    width: 100%;
  }
  body > header,
  body > section,
  body > footer {
    min-width: 100%;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  p {
    margin-bottom: 20px;
  }
  .wrapper {
    width: auto;
    margin: 0;
  }
  header {
    padding: 20px;
    margin-bottom: 20px;
  }
  footer {
    padding: 22px 0 20px 0;
  }
}
/* MORE BOILERPLATE CLASSES */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media all and (orientation: portrait) {
  
}
@media all and (orientation: landscape) {
  
}
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
